    <ul>
      <li><a href="/">Authentication</a></li> 
      <li><a href="/push">Push Authentication</a></li> 
      <li><a href="/out-of-band">Out-of-Band Authentication</a></li>
      <li><a href="/smartcard">Smart Card Authentication</a></li>   
    </ul>