        <% include partials/header.ejs %>
        <h1>
          Smart Card Authentication
        </h1>
        </div>
     </header> 
     <% include partials/navigation.ejs %>
     <br/><br/>
     <h2 style="text-align: center; color:#47024f">
       <strong><i> What is a smart card authentication?</i></strong>
     </h2>
     <br/>
     <!-- Main body of the page -->
     <main> 
       <figure>
        <img src="img/smartcard.png" alt="smart card image">   
       </figure>
       <p>
         A smart card is a secure microcontroller that is capable of storing digital certificates, generating and operating on cryptographic
         keys. A smart card is used by corporations as a mechanism of authentication for employees and partners. Typically, users connect 
         their smart card to a host computer which via a software, interacts with the keys material and other secrets stored on the smart 
         card to authenticate the user. Smart cards are the most secure type of authentication for several reasons. First off, a pin is 
         required to unlock them with a user-PIN prior to operation. In addition smart cards are considered a very strong form of 
         authentication because cryptographic keys and other secrets stored on the card are very well protected both physically and
         logically, and are therefore extremely hard to steal with tamper resistance. The added security provided by the smart card comes 
         at the expense of the user experience, because the user is required to carry around his or her smart card.  In addition the smart 
         card must be inserted into the computer each time the user needs to authenticate and must be removed when away from the computer 
         for security purpose which can be a burden for the user. Furthermore, users are limited to host devices that have the card interface 
         software installed. Smart cards are also expensive to administrate, as they require software installation on the host computer 
         and physical distribution to the users.
         <a href="https://doubleoctopus.com/security-wiki/authentication/smart-card-authentication/" style="color:green"> resource... </a>
       </p>
     </main>  
     <br/><br/>
     <div class="center">
       <iframe width="560" height="315" src="https://www.youtube.com/embed/GBTKTIaLTtA" allow="accelerometer; 
            autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
       </iframe>    
     </div>
     <hr>
     <footer>           
       CST336 Internet Programming. 2019&copy; Aboubacar Diawara
     </footer>
  </body>
</html>